*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.jks
*.keystore
node_modules/
web/android/.gradle/
web/android/app/build/
web/android/build/
web/dist/
